//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
@import 'search-icon';

.ftd-small-heading {
    color:$govuk-brand-colour;
    font-weight: 700;
}

.ftd-inline-block {
    display: inline-block;
}

.ftd-min-w-10 {
    min-width: 10em;
}

.ftd-pagination-center {
    display: flex;
    justify-content:center !important;
    align-items:center !important
}